<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 演示联表查询：查询出每个学生对应的老师， -->
<mapper namespace="com.mapper.demo6.CommodityMapper">
    <resultMap id="comMap" type="com.pojo.Commodity">
        <id column="c_id" property="id"/>
        <result column="commodity" property="name"/>
        <!--ofType 属性用于指定集合中元素的类型-->
        <collection property="commodityOrderList" ofType="com.pojo.CommodityOrder">
            <result column="o_id" property="id"/>
            <result column="c_order" property="name"/>
        </collection>
    </resultMap>

    <!--查询子句-->
    <select id="findAll" resultMap="comMap">
        SELECT c.id c_id,o.id o_id,c.`name` commodity,o.`name` c_order
        FROM t_commodity c,t_commodity_order o,t_commodity_ref_order r
        WHERE r.c_id = c.id AND  r.o_id = o.id
    </select>
</mapper>
