<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo3.mapper.AccountMapper">

    <!-- 结果集映射 -->
    <!-- id是唯一标识，可以自定义 -->
    <!-- type 用于指定具体 pojo 的全限定类名 -->
    <!-- autoMapping 控制自动映射，默认值为 unset 未设置-->
    <!-- extends 继承其它封装规则，值为其他映射集的id-->
    <resultMap id="accountMap" type="com.demo3.pojo.Account">
        <!-- 主键对应字段 -->
        <!-- property 指 pojo 的属性名 -->
        <!-- column 指数据库字段名 -->
        <!-- javaType 顾名思义为 Java 中的数据类型 -->
        <!-- jdbcType 指数据库中的数据类型 -->
        <!-- typeHandler 类型处理器，可以指定自定义的类型处理器 -->
        <!-- 一般使用前两个属性即可，因为有默认的类型处理器 -->
        <id property="id" column="id"/>
        <!-- 普通字段和属性的映射 -->
        <result property="accountName" column="name"/>
        <result property="nowMoney" column="money"/>
    </resultMap>

    <!-- 普通查询 -->
    <!--<select id="findAll" resultType="com.demo3.pojo.Account">-->
    <!--    select * from tb_account-->
    <!--</select>-->

    <!-- 起别名 -->
    <!--<select id="findAll" resultType="com.demo3.pojo.Account">-->
    <!--    select id,name as accountName,money as nowMoney from tb_account-->
    <!--</select>-->

    <!-- 使用结果集映射 -->
    <!-- 注意，结果类型就要使用 resultMap 了，值为结果集映射的 id -->
    <select id="findAll" resultMap="accountMap">
        select * from tb_account
    </select>

    <insert id="updateAccount" parameterType="com.demo3.pojo.Account">
        update tb_account set name=#{accountName},money=#{nowMoney} where id=#{id}
    </insert>

</mapper>