<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 命名空间，绑定一个对应的 Mapper 接口，且为全限定类名 -->
<mapper namespace="com.mapper.demo1.AccountMapper">

    <!-- 查询所有 -->
    <!-- id 为 namespace 指定接口的方法名字 -->
    <!-- resultType 为 SQL 执行后返回的结果类型，如果是 com.pojo 类，需要用全限定类名 -->
    <!-- 这里起别名的原因是，当 MySQL 数据库中的字段名与 Java 类的属性名不一致时，无法映射成功，查出的字段时 null 值 -->
    <!-- 也可以使用 结果集映射处理解决，可以查看 demo2 -->
    <select id="findAll" resultType="com.pojo.Account">
        select id,name as accountName,money as nowMoney from tb_account
    </select>

</mapper>