<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo4.mapper.AccountMapper">

    <!-- 这里 type 使用了核心配置文件中配置的别名，别名不区分大小写 -->
    <resultMap id="accountMap" type="account">
        <id property="id" column="id"/>
        <result property="accountName" column="name"/>
        <result property="nowMoney" column="money"/>
    </resultMap>

    <select id="findAll" resultMap="accountMap">
        select * from tb_account
    </select>
</mapper>